<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>941365838401-gqubm5fjo1u31d69v85utp1hpd685gb0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.941365838401-gqubm5fjo1u31d69v85utp1hpd685gb0</string>
	<key>API_KEY</key>
	<string>AIzaSyBBqvXROStiCh8m_ZfydMlifi3YgC2HaD4</string>
	<key>GCM_SENDER_ID</key>
	<string>941365838401</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>clementgarcia8.ParkInBordeaux</string>
	<key>PROJECT_ID</key>
	<string>parkinbordeaux</string>
	<key>STORAGE_BUCKET</key>
	<string>parkinbordeaux.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:941365838401:ios:22a142e997fa1aa02e3cc0</string>
</dict>
</plist>